page-clientes {
    
    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
        margin: 2px 8px 2px 0;
    }
    
    .item-input::after {
        border-bottom-color: transparent !important;
    }
    
    .cardOps {
        border-radius:10px !important;
        margin-top:8px !important;
        height:85% !important;
        width: 70px !important;
        box-shadow:2px 2px 2px #777 !important;
    }
    
    .clientCard {
        box-shadow: 1px 2px 3px #aaa;
        margin:3px; 
        border-radius:15px;
    }

}
