.item-cover {
width: 0;
height: 0;
}

ion-auto-complete {
  width: 50vw;
}

.movInfo {
    font-size:16px;
    font-weight:bold;
    background:#dde;
}

.selectCP {
    max-width: 100%; 
    float: right;
    padding: 0px 2px 0px 0px;
    margin: 20px 10px 0px 0px !important; 
}
    
.gridInfo {
    font-size:12px !important;
}

.rowDetail {
    background:#ddd;
    margin:1px;
    padding-top: 4px;
}